* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.header__title {
    font-style: italic;
    color: #9994b9;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: #ddd;
}

.overlay {
    width: 100vw; 
    height: 100vh; 
    position: absolute;
    z-index: -1;
}

.overlay--main {
    background: linear-gradient(#111,transparent);
}

.overlay--color {
    background-color: rgba(0, 0, 0, 0.5);
}

.body--main{
    background-image: url("../assets/puerto1.jpg");
    background-size: cover;
}

.body--form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 8px;
    background-color: #172026ee;
    box-shadow: 0 4px 10px black;
    color: #bbb;
}

.form--size1 {
    height: 50vh;
    width: 50vh;
}

.form input,select {
    all: unset;
    border-bottom: 1px solid #bbb;
}

.form input[type="submit"] {
    all: unset;
    border-radius: 5px;
    background-color: #5FCDD9;
    color: #172026;
    width: 75%;
    height: 10%;
}

.form a {
    all: unset;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 15px;
    top: 20px;
    height: 10%;
    width: 50%;
    border-radius: 8px;
    background-color: rgb(235, 233, 233,0.9);
    box-shadow: 0 4px 10px #111;
}

.notification--error {
    background-color: rgba(194, 4, 4, 0.9);
    color: #ddd;
}